include docs/authors.rst
include docs/CONTRIBUTING.rst
include docs/history.rst
include LICENSE
include docs/readme.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
