[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
wheel = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pipenv-setup = "*"
Sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx_rtd_theme = "*"
#twine = "*"

[packages]
as3ninja = {path = ".",editable = true}
click = ">=7.0"
hvac = ">=0.9.6"
jinja2 = ">=2.10.3"
jsonschema = ">=3.2.0"
loguru = ">=0.3.2"
pydantic = ">=1.2"
pyyaml = ">=5.1.2"
fastapi = ">=0.44.0"
uvicorn = ">=0.10.8"
