{
    "simplelist": {{ninja.simplelist|jsonify}},
    "list_of_objects": {{ninja.list_of_objects|jsonify}},
    "list_of_keyValuePairs": {{ninja.list_of_keyValuePairs|jsonify}},
    "list_of_objects_w_fieldnames": {{ninja.list_of_objects_w_fieldnames|jsonify}}
}
