{
    "class": "AS3",
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.20.0",
        "id": "urn:uuid:{{ uuid() }}",
        "label": "Multi Tenants Apps Services",
        {# include all tenants #}
        {% for tenant in ninja.tenants %}
            {# the tenant variable contains the tenant configuration, which is an object
            # the first key (also called property) is the tenant name, its value is the
            # tenant config.
            # python's .popitem() method returns the key and value as a pair
            -#}
            {% set tenant_name, tenant_config = tenant.popitem() %}
            "{{ tenant_name }}": {{ tenant_config | jsonify }}
        {%- if not loop.last -%},{% endif %}
        {% endfor %}
    }
}
